@model UpdateContactDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title"> Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İletişim Yazısı Güncelleme</div>
                        </div>
                        
                        <input type="hidden" asp-for="ContactID" />

                        <div class="card-body">
                            <div class="form-group">
                                <label for="location">Lokasyonu Giriniz</label>
                                <input type="text" asp-for="Location" class="form-control" id="location">
                            </div>
                            <div class="form-group">
                                <label for="phonenumber">Telefo Numarası Giriniz</label>
                                <input type="text" asp-for="PhoneNumber" class="form-control" id="phonenumber">
                            </div>
                            <div class="form-group">
                                <label for="mail">Email Adresi Giriniz</label>
                                <input type="email" asp-for="Mail" class="form-control" id="mail">
                            </div>    
                            <div class="form-group">
                                <label for="footertitle">Alt Başlık Giriniz</label>
                                <input type="text" asp-for="FooterTitle" class="form-control" id="footertitle">
                            </div>
                            <div class="form-group">
                                <label for="opendays">Açık Günler Giriniz</label>
                                <input type="text" asp-for="OpenDays" class="form-control" id="opendays">
                            </div>
                            <div class="form-group">
                                <label for="opendaysdescription">Açık Günler Açıklama Giriniz</label>
                                <input type="text" asp-for="OpenDaysDescription" class="form-control" id="opendaysdescription">
                            </div>
                            <div class="form-group">
                                <label for="openhours">Açık Saatler Giriniz</label>
                                <input type="text" asp-for="OpenHours" class="form-control" id="openhours">
                            </div>
                            <div class="form-group">
                                <label for="footerdescription">Açıklamayı Giriniz</label>
                                <textarea rows="5" asp-for="FooterDescription" class="form-control" id="footerdescription"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">İletişim Bilgi Yazısı Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


